body{
  background-color: rgb(237, 235, 235);
}

nav {
  background-color: white;
  overflow: auto;
}

.pageTitle {
  padding: 0;
  margin: auto;
  margin-top: -20px;
  text-align: center;
  background: orange;
  color: white;
  font-size: 30px;
  border-radius: 18px;
  width: 35%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul {
  margin-top: -58px;
  list-style-type: none;
  float: right;
}

li {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

li a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: large;
}

.logo{
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
}

.sign-up{
  border-radius: 5px;
  padding: 20px;
}

.form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


/*----------- products -----------*/

.sortBy {
  justify-content: space-between;
  margin: 100px auto 50px;
}
.product-row{
  display: flex;
  flex-direction: row;
  margin: auto;
}

.product {
  background-color: whitesmoke;
  margin: 10px;
  width: 25%;
  height: 200px;
}

.product-img {
  width: 100px;
  height: 100px;
}

.product-details{
  width: 100px;
  height: 100px;
  margin: 10px;
}