nav {
  background-color: white;
  overflow: auto;
}

.pageTitle {
  padding: 0;
  margin: auto;
  text-align: center;
  background: orange;
  color: black;
  font-size: 20px;
  border-radius: 18px;
  width: 300px;
}

ul {
  margin-top: -43px;
  list-style-type: none;
  float: right;
}

li {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

li a {
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: large;
}

.logo{
  position: absolute;
  margin-top: 15px;
  margin-left: 10px;
}

.sign-up{
  border-radius: 5px;
  padding: 20px;
}

.form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}