{% extends 'base.html' %}

{% block title %}Add Product{% endblock %}

{% block pageTitle %}
<p>My Products</p>
{% endblock %}

{% block content %}
<div class="container">
    <form action="{{ url_for('views.add_product') }}" enctype="multipart/form-data" method="POST">
        <h3>Product Information</h3>

        <label for="name">Productname</label>
        <input type="text" name="name" class="input"></br>

        <label for="price">Price</label>
        <input type="number" name="price" class="input"></br>

        <label for="picture">Image</label>
        <br>
        <input type="file" name="picture" class="image_1"><br> 

        <label for="description" class="label_description">Description</label>
        <input type="text" name="description" class="description">

        <label for="keywords" class="label_keywords" >Keywords</label>
        <input type="text" name="keywords" class="keywords" placeholder="Seperate keywords by space">

        <br>
        <br>
        <br>
        <div class="Sbutton">
            <input type="submit" value="Submit" class="btn"></br>
        </div>
    </form>
</div>
{% endblock %}