<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width = device-width, initial-scale=1"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
        <title>{% block title %}Home{% endblock %}</title>
    </head>
<body>
    <nav>
        <div class="logo"><a href="/"><img src="/static/Logo.jpeg" width=70 height=25></a></div>
        <div class="pageTitle">
            {% block pageTitle %}
            {% endblock %}
        </div>
        <ul>
            {% if user.is_authenticated %}
            <li><a id="logout" href="/logout">Logout</a></li>
            {% else %}
            <li><a id="shop" href="/shop">Shop</a></li>
            <li><a id="login" href="/login">LogIn</a></li>
            <li><a id="sign-up" href="/sign-up">SignUp</a></li>
            {% endif %}
        </ul>
    </nav>

    {% with messages=get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-danger alert-dismissable fade show" role="alert">
            {{ message  }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% else %}
        <div class="alert alert-success alert-dismissable fade show" role="alert">
            {{ message  }}
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='java/index.js')}}">
    </script>

</body>
</html>