{% extends 'base.html' %}

{% block title %}Edit Product{% endblock %}

{% block pageTitle %}
<p>My Products</p>
{% endblock %}

{% block content %}
<form action = "{{ url_for('views.edit_product', id = product.id) }}" method="POST">
    <h3>Update Product Information</h3>

    <label for="name">Productname</label>
    <input type = "name" name = "name" class="input" value={{ product.name }}></br>

    <label for="prics">Price</label>
    <input type = "price" name = "price" class="input" value={{ product.price }}></br>

    <label for="sold">Sold?</label>
    <input type = "sold" name = "sold" class="input" value={{ product.sold }}></br>

    <input type="file" name = "image_1" class="image_1">

    <input type="file" name = "image_2" accept=".jpeg .png .jpg .gif" class="image_2">

    <input type="file" name = "image_3" accept=".jpeg .png .jpg .gif" class="image_3">

    <br> 

    <label for="description" class="label_description">Description</label>
    <input type = "description" name = "description" class="description" value={{ product.description }}>

    <label for="keywords" class="label_keywords">Keywords</label>
    <input type = "keywords" name = "keywords" class="keywords" value={{ product.keywords }}>

    <div class="Sbutton">
        <input type = "submit" vlaue = "submit" class="btn"></br>
    </div>
</form>
{% endblock %}