{% extends 'base.html' %}

{% block title %}Product{% endblock %}

{% block pageTitle %}
<p>Product</p>
{% endblock %}

{% block content %}
<div class="container">
    <div class="product-content-single">
        <img class="pic-1-single" src={{ '/' + products.picture }}>
        <div class="product-content-single-info">
            <h1 style="margin-top:0;">{{ products.name }}</h1>
            <h2 class="product-info">$ {{ products.price }}</h2>
            <input type="text" class="product-info" placeholder="Amount"/>
            <button type="submit" class="btn" style="width: 100%">Add to card</button>
            <br>
            <br>
            <div class="product-content-user">
                <h2 style="margin: 0;">Seller:</h2>
                <h3>{{ products.user.username }}</h3>
                <form action="{{ url_for('views.follow', username=products.user.username) }}" method="post">
                    <button type="submit" class="btn">Follow</button>
                </form>
            </div>
            <br>
            <br>
            <div class="product-description">
                <p style="font-weight: lighter; color: grey; font-size: medium;">Description</p>
                {{ products.description }}
            </div>
        </div>
    </div>
    
</div>

{% endblock %}
