{% extends 'base.html' %}

{% block title %} Shop {% endblock %}

{% block pageTitle %}
<p>Shop</p>
{% endblock %}

{% block content %}
<div class="sortBy">
    <select>
        <option>Price</option>
        <option>Followed</option>
    </select>
</div>

<div class="product-row">
    <div class="product">
        <div class="product-content1">
            <img class="product-img" src="/static/user.png" alt="Product Image">
            <div class="product-details">
                <p>Details<p>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-content">
            <img class="product-img" src="/static/user.png" alt="Product Image">
            <div class="product-details">
                <p>Details<p>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-content">
            <img class="product-img" src="/static/user.png" alt="Product Image">
            <div class="product-details">
                <p>Details<p>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-content">
            <img class="product-img" src="/static/user.png" alt="Product Image">
            <div class="product-details">
                <p>Details<p>
            </div>
        </div>
    </div>
</div>

<div class="product-row">
    <div class="product">
        <div class="product-content1">
            <img class="product-img" src="/static/user.png" alt="Product Image">
            <div class="product-details">
                <p>Details<p>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-content">
            <img class="product-img" src="/static/user.png" alt="Product Image">
            <div class="product-details">
                <p>Details<p>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-content">
            <img class="product-img" src="/static/user.png" alt="Product Image">
            <div class="product-details">
                <p>Details<p>
            </div>
        </div>
    </div>
    <div class="product">
        <div class="product-content">
            <img class="product-img" src="/static/user.png" alt="Product Image">
            <div class="product-details">
                <p>Details<p>
            </div>
        </div>
    </div>
</div>
{% endblock %}