{% extends 'base.html' %}

{% block title %}SingUp{% endblock %}

{% block pageTitle %}
<p>SignUp</p>
{% endblock %}

{% block content %}

<form method="POST" class="container">
        <label for="username">Username</label>
        <input type="text" class="input" id="username" name="username"/>


        <label for="password">Password</label>
        <input type="password" class="input" id="password" name="password"/>

        <label for="name">Name</label>
        <input type="text" class="input" id="name" name="name"/>

        <label for="picture">Picture</label>
        <input type="file" class="input" id="picture" name="picture">
        
        <div class="Sbutton">
            <button type="submit" class="btn">Sign up</button>
        </div>
</form>
{% endblock %}