{% extends 'base.html' %}

{% block title %}My Products{% endblock %}

{% block pageTitle %}
<p>My Products</p>
{% endblock %}

{% block content %}


<h1>Here are your products, {{ current_user.username }}:</h1>

<form action="/add-product">
    <button class="btn"><i class="fa fa-plus">&nbsp; Add Product</i></button>
</form>

<br>
<br>

<div class="container">
    <div class="product-row">
        {% for product in products %}
        {% if current_user.id == product.user.id %}
        <div class="product-grid">
            <div class="product-image">
                <a href={{ url_for('views.product', id = product.id) }}>
                    {% if product.sold == "sold" %}
                    <img class="pic-1" src="/website/static/images/soldout.png">
                    {% else %}
                    <img class="pic-1" src={{'/' + product.picture}}>
                    {% endif %}
                </a>
            </div>
            <div class="product-content">
                <h3 class="title"><a href={{ url_for('views.product', id = product.id) }}>{{ product.name }}</a></h3>
                <div class="price">${{ product.price }}</div>
                <a href={{ url_for('views.edit_product', id = product.id) }}>Edit</a>
                <a href= {{ url_for('views.delete', name = product.name) }}>Delete</a>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}